* {
  box-sizing: border-box;
}

.wall {
  background-color: brown;
}

.enemy {
  background-image: url(/images/cool-guy.gif);
  background-size: cover;
  z-index: 1;
}

.chicken {
  background-image: url(/images/chicken.png);
  background-size: cover;
  z-index: 1;
}

.time {
  background-image: url(/images/timeboost.png);
  background-size: cover;
  z-index: 1;
}

.fart:before {
  opacity: 0.1;
}

.fart {
  background-image: url(/images/fart.gif);
  background-size: cover;
  // opacity: 1;
  // transition: opacity 2s ease-in-out;
  // background-color: black;
  animation: fadeInOut 1500ms ease-in-out;
  // -webkit-animation: fadeInOutGreen 1500ms ease-in-out;
  //    -moz-animation: fadeInOutGreen 1500ms ease-in-out;
  //      -o-animation: fadeInOutGreen 1500ms ease-in-out;
}
.jimba-right {
  // background-image: url(/images/jimba-right.gif);
  // background-size: cover;
  // z-index: 2;
  content: url(/images/jimba-right.gif);
}

@keyframes fadeInOut {
  0%   { background-color: rgba(255, 255, 255, 0); }
  50%  { background-color: rgba(255, 255, 255, 1); }
  100% { background-color: rgba(255, 255, 255, 0); }
}
// @-webkit-keyframes fadeInOutGreen {
//   0%   { background-color: #FFFFFF; }
//   50%  { background-color: green; }
//   100% { background-color: #FFFFFF; }
// }
// @-moz-keyframes fadeInOutGreen {
//   0%   { background-color: #FFFFFF; }
//   50%  { background-color: green; }
//   100% { background-color: #FFFFFF; }
// }
// @-o-keyframes fadeInOutGreen {
//   0%   { background-color: #FFFFFF; }
//   50%  { background-color: green; }
//   100% { background-color: #FFFFFF; }
// }


body {
  div.container {
    display: flex;
    width: 700px; //random number
    margin: 10px auto;
    div#grid {
      // background-color: #e3e3e3;
      height: 500px; //50 * js height var
      width: 500px; // 50 * js wdith var
      display: flex;
      flex-wrap: wrap;
      margin: 20px;
      div { //individual square styles
        border: 1px solid black;
        height: 10%;
        width: 10%;
        display: inline-block;
      }
    }
    div.information {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      width: 200px;
      #score {
        width:  100%; // 50 * js wdith var
        height: 50px;
        margin: 10px auto;
        border: 1px solid black;
      }
    }
  }

  #fartMeter {
    width: 700px; // 50 * js wdith var
    height: 20px;
    margin: 10px auto;
    border: 1px solid black;
  }
  #message {
    width: 700px; // 50 * js wdith var
    height: 50px;
    margin: 10px auto;
    border: 1px solid black;
  }

}
