* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}


@keyframes fadeInOut {
  0%   { background-color: rgba(255, 255, 255, 0); }
  50%  { background-color: rgba(255, 255, 255, 1); }
  100% { background-color: rgba(255, 255, 255, 0); }
}

@keyframes pulse {
  0%   { font-size: 16px; }
  50%  { font-size: 20px; }
  100% { font-size: 16px; }
}

.pulse {
  animation: pulse 1000ms ease-in-out;
}

@keyframes greenJump {
  0%   { transform: translate(16px, -21px); }
  50%  { transform: translate(16px, -31px); }
  100% { transform: translate(16px, -21px); }
}

.greenJump {
  color: green;
  width: 40px;
  position: absolute;
  animation: greenJump 1000ms linear;
}


div.hidden {
  display: none;
}

body {
  .intro-page {
    border: 1px solid black;
    text-align: center;
    width: 800px; //random number, must be same as game container
    margin: 50px auto;
    padding: 20px;
  }
  button {
    padding: 10px;
    width: 600px;
    border-radius: 10px;
    margin: 20px;
  }
  h1 {
    border: 1px solid black;
    width: 700px;
    padding: 50px;
    margin: 0 auto;
    text-align: center;
  }
  .container {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    width: 800px; //random number, must be same as intro page
    margin: 10px auto;
    div#grid {
      // background-color: #e3e3e3;
      // height: 500px; //50 * js height var
      // width: 500px; // 50 * js wdith var
      background-image: url(/images/floor.png);
      background-size: 50px;
      display: flex;
      flex-wrap: wrap;
      margin: 20px;
      div { //individual square styles
        // background-image: url(/images/09Floor.png);
        // background-size: cover;
        // border: 1px solid black;
        height: 50px;
        width: 50px;
        display: inline-block;
      }
    }
    div.information {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      width: 200px;
      .timebox {
        height: 180px;
        width: 90%;
        border: 1px solid black;
        border-radius: 50%;
        margin: 0 auto;
        #timer {
          width: 50%;
          margin: 0 auto;
          text-align: center;
        }
      }
      #score {
        width:  40px; // 50 * js wdith var
        height: 20px;
        padding: 20px;
        margin: 10px auto;
        border: 1px solid black;
      }
      #fartMeter {
        width: 100%; // 50 * js wdith var
        height: 20px;
        margin: 10px auto;
        border: 1px solid black;
        #collectedFart {
          background-color: green;
          height: 100%;
        }
      }
      #message {
        width: 100%; // 50 * js wdith var
        height: 50%;
        margin: 10px auto;
        border: 1px solid black;
        font-size: 16px;
      }
    }
  }
  .game-over {
    div {
      border: 1px solid black;
      text-align: center;
      width: 800px; //random number, must be same as game container
      margin: 100px auto;
      padding: 20px;
    }
  }
}

div.hidden {
  display: none;
}

div.wall {
  background-image: url(/images/walls/solo1.png);
  background-size: cover;
}

div.fart {
  background-image: url(/images/fart.gif);
  background-size: cover;
}

div.enemy-right {
  content: url(/images/enemy-right.gif);
  // background-size: cover;
}

div.enemy-left {
  content: url(/images/enemy-left.gif);
  // background-size: cover;
}

div.enemy-down {
  content: url(/images/enemy-down.gif);
  // background-size: cover;
}

div.enemy-up {
  content: url(/images/enemy-up.gif);
  // background-size: cover;
}

div.chicken {
  background-image: url(/images/chicken.gif);
  background-size: cover;
  z-index: 1;
}

div.time {
  background-image: url(/images/time.gif);
  background-size: cover;
  z-index: 1;
}



// background blend

// .fart:before {
//   opacity: 0.1;
// }

div.jimba-right {
  // background-image: url(/images/jimba-right.gif);
  // background-size: cover;
  // z-index: 2;
  content: url(/images/jimba-right.gif);
}

div.jimba-left {
  content: url(/images/jimba-left.gif);
}

div.jimba-down {
  content: url(/images/jimba-down.gif);
}

div.jimba-up {
  content: url(/images/jimba-up.gif);
}
