* {
  box-sizing: border-box;
}

.jimba {
  background-image: url(/images/jimba.gif);
  background-size: cover;
  z-index: 2;
}

.wall {
  background-color: brown;
}

.enemy {
  background-image: url(/images/cool-guy.gif);
  background-size: cover;
  z-index: 1;
}

.chicken {
  background-image: url(/images/chicken.png);
  background-size: cover;
  z-index: 1;
}

@-webkit-keyframes fadeInOutGreen {
  0%   { background-color: #FFFFFF; }
  50%  { background-color: green; }
  100% { background-color: #FFFFFF; }
}
@-moz-keyframes fadeInOutGreen {
  0%   { background-color: #FFFFFF; }
  50%  { background-color: green; }
  100% { background-color: #FFFFFF; }
}
@-o-keyframes fadeInOutGreen {
  0%   { background-color: #FFFFFF; }
  50%  { background-color: green; }
  100% { background-color: #FFFFFF; }
}
@keyframes fadeInOutGreen {
  0%   { background-color: #FFFFFF; }
  50%  { background-color: green; }
  100% { background-color: #FFFFFF; }
}

.fart {
  -webkit-animation: fadeInOutGreen 1500ms ease-in-out;
     -moz-animation: fadeInOutGreen 1500ms ease-in-out;
       -o-animation: fadeInOutGreen 1500ms ease-in-out;
          animation: fadeInOutGreen 1500ms ease-in-out;
}

body {
  div#grid {
    // background-color: #e3e3e3;
    height: 500px; //50 * js height var
    width: 500px; // 50 * js wdith var
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    div {
      border: 1px solid black;
      height: 10%;
      width: 10%;
      display: inline-block;
    }
  }
  div#fartMeter {
    width: 500px; // 50 * js wdith var
    height: 50px;
    margin: 20px auto;
    border: 1px solid black;
  }

}
